* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    overflow-x: hidden;
}

.logo {
    font-size: 100px;
}

/*header*/

.header {
    background-image: url(pics/suit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: 500px;
    position: relative;
}

nav {
     width: 100%;
      box-sizing: border-box;
      top: 0;
      z-index: 500;
     position: fixed;
}

nav ul {
      overflow: hidden;
      color: #fff;
      padding-top: 15px;
      text-align: center;
      margin: 0;
      display: flex;
    justify-content: flex-end;
}

nav ul li {
      padding-right: 40px;
      text-transform: uppercase;
    list-style-type: none;
    }

.home-header {
    text-decoration: underline;
}

.first-logo {
    color: #fff;
    padding-right: 600px;
    margin-top: -50px;
}

/*About*/

.about {
    background-color: #f9f9f9;
}

.about-title {
    font-size: 90px;
    color: #fff;
    margin-top: -350px;
    padding-left: 500px;
    z-index: 100;
    position: relative;
    text-transform: uppercase;
}

.about-lorem {
    background-color: #fff;
    position: relative;
    width: 20vw;
    margin-left: 450px;
}

.about-lorem-heading {
    padding-top: 20px;
    padding-left: 50px;
    text-transform: uppercase;
}

.about-lorem-text {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 12px;
}

.about-lorem-smalltext {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}

.signature-pic {
    width: 25%;
    height: auto;
    position: absolute;
    top: 450px;
    left: 270px
}

.quote {
    text-align: left;
    position: relative;
    top: 300px;
    left: 350px;
    z-index: 499;
}

.quote i {
    font-size: 40px;
}

.quote p {
    text-transform: uppercase;
}

.cab-pic {
    width: 30%;
    height: auto;
    position: relative;
    left: 800px;
    bottom:250px;
    z-index: 100;
}

.city-pic {
    width: 60%;
    height: auto;
    position: relative;
    left: 100px;
    z-index: 90;
}

.good-things {
    font-family: 'Homemade Apple', cursive;
    text-align: right;
    font-size: 30px;
    text-transform: capitalize;
    -ms-transform: rotate(340deg); /* IE 9 */
    -webkit-transform: rotate(340deg); /* Chrome, Safari, Opera */
    transform: rotate(340deg);
    position: relative;
    z-index: 400;
    margin-top: 100px;
    padding-right: 75px;
}

/*Contact*/

.contact {
    background: -webkit-linear-gradient(left, #f1cbcc , #D0D0D0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f1cbcc, #D0D0D0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f1cbcc, #D0D0D0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f1cbcc , #D0D0D0); /* Standard syntax */
}

.contact-header-text {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    position: relative;
    text-transform: uppercase;
    bottom: 50px;
}

.blog-button {
    display: flex;
    justify-content: space-around;
}

.contact-blog-text {
    text-transform: uppercase;
    font-size: 40px;
}

.blog-button button {
    border: none;
    background-color: #000;
    width: 200px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    margin-left: 450px;
}

.social-all {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.social-all img {
    width: 400px;
    height: 300px;
}

.inner-text {
    background-color: #fff;
    margin-top: -5px;
    padding: 10px;
}

.inner-text h4 {
    text-transform: uppercase;
}

.date-arrow {
    display: flex;
    justify-content: flex-start;
}

.date-arrow p {
    padding-right: 40px;
}

/*Social*/

.social {
    background-color: #f9f9f9;
    padding-bottom: 500px;
}

.hashtag {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}

.follow-me {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    position: relative;
    z-index: 90;
    text-transform: capitalize;
    color: gray;
    font-size: 40px;
    bottom: 35px;
}

.photos {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.photos img {
    width: 250px;
    height: 250px;
}

.animate-one {
    transform: translate(-200px,-200px);
    -webkit-transform: translate(-200px,-200px);
    -o-transform: translate(-200px,-200px); 
    -moz-transform: translate(-200px,-200px);
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.animate-two {
    transform: translate(-300px,-30px);
    -webkit-transform: translate(-300px,-30px);
    -o-transform: translate(-300px,-30px); 
    -moz-transform: translate(-300px,-30px);
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 3s ease-in-out; /** Firefox **/
    -o-transition: all 3s ease-in-out; /** Opera **/
}

.animate-three {
    transform: translate(500px,-90px);
    -webkit-transform: translate(500px,-90px);
    -o-transform: translate(500px,-90px); 
    -moz-transform: translate(500px,-90px);
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.animate-four {
    transform: translate(400px,150px);
    -webkit-transform: translate(400px,150px);
    -o-transform: translate(400px,150px); 
    -moz-transform: translate(400px,150px);
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.animate-five {
    transform: translate(-250px,40px);
    -webkit-transform: translate(-250px,40px);
    -o-transform: translate(-250px,40px); 
    -moz-transform: translate(-250px,40px);
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 3s ease-in-out; /** Firefox **/
    -o-transition: all 3s ease-in-out; /** Opera **/
}

.animate-six {
    transform: translate(-200px,-50px);
    -webkit-transform: translate(-200px,-50px);
    -o-transform: translate(-200px,-50px); 
    -moz-transform: translate(-200px,-50px);
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 3s ease-in-out; /** Firefox **/
    -o-transition: all 3s ease-in-out; /** Opera **/
}

.one {
    left: 300px;
    top: 80px;
    position: absolute;
    z-index: 85;
}

.two {
    position: absolute;
    top: 250px;
    left: 400px;
    z-index: 95;
}

.three {
    position: absolute;
    left: 450px;
    z-index: 90;
}

.four {
    position: absolute;
    left: 550px;
    top: 90px;
    z-index: 100;
}

.five {
    position: absolute;
    left: 750px;
    top: 200px;
    z-index: 85;
}

.six {
    position: absolute;
    top: 0px;
    left: 700px;
    z-index: 89;
}


/*Subscribe*/

.subscribe {
    background-color: #232b2b;
}

.subscribe h2 {
    font-size: 40px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    padding-left: 100px;
    padding-top: 40px;
}

.submit-form {
    display: flex;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.first-name {
    background-color: #232b2b;
    color: #fff;
    text-transform: capitalize;
    border-bottom: 2px solid #fff;
    padding-right: 60px;
}

.last-name {
    margin-left: 50px;
    background-color: #232b2b;
    color: #fff;
    border-bottom: 2px solid #fff;
    text-transform: capitalize;
    padding-right: 60px;
}

.subscribe-arrow {
    color: #fff;
    padding-left: 150px;
}

/*footer*/

.footer {
    background-color: black;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    color: #fff;
    border-bottom: 3px solid #232b2b;
    padding-bottom: 50px;
}

.hire-me {
    text-transform: uppercase;
    text-decoration: underline;
    padding-top: 50px;
    font-size: 20px;
}

.footer-list {
    list-style-type: none;
    padding-top: 50px;
}

.footer-bold {
    font-size: 18px;
    font-weight: bolder;
}

.footer-light {
    color: #dcdcdc;
    font-size: 15px;
}

.connect-icons {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.connect-title {
    text-transform: uppercase;
}

.icons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.icon-style {
   border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    background-size: 30px;
    text-decoration: none;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 15px;
}

.icon-style i {
    font-size: 20px;
    align-items: center;
}

.final-text {
    text-align: left;
    color: #dcdcdc;
    padding: 20px;
}


