* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.logo {
    font-size: 100px;
}

/*header*/

.header {
    background-image: url(pics/suit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: 500px;
    position: relative;
}

nav {
     width: 100%;
      box-sizing: border-box;
      top: 0;
      z-index: 99;
     position: fixed;
}

nav ul {
      overflow: hidden;
      color: #fff;
      padding-top: 15px;
      text-align: center;
      margin: 0;
      display: flex;
    justify-content: flex-end;
}

nav ul li {
      padding-right: 40px;
      text-transform: uppercase;
    list-style-type: none;
    }

.home-header {
    text-decoration: underline;
}

.first-logo {
    color: #fff;
    padding-right: 600px;
    margin-top: -50px;
}

/*About*/

.about {
    background-color: #f9f9f9;
}

.about-title {
    font-size: 90px;
    color: #fff;
    margin-top: -350px;
    padding-left: 500px;
    z-index: 100;
    position: relative;
    text-transform: uppercase;
}

.about-lorem {
    background-color: #fff;
    position: relative;
    width: 20vw;
    margin-left: 450px;
}

.about-lorem-heading {
    padding-top: 20px;
    padding-left: 50px;
    text-transform: uppercase;
}

.about-lorem-text {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 12px;
}

.about-lorem-smalltext {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}

.signature-pic {
    width: 25%;
    height: auto;
    position: absolute;
    top: 450px;
    left: 270px
}

.quote {
    text-align: left;
    position: relative;
    top: 300px;
    left: 350px;
    z-index: 800;
}

.quote i {
    font-size: 40px;
}

.quote p {
    text-transform: uppercase;
}

.cab-pic {
    width: 30%;
    height: auto;
    position: relative;
    left: 800px;
    bottom:250px;
    z-index: 100;
}

.city-pic {
    width: 60%;
    height: auto;
    position: relative;
    left: 100px;
    z-index: 90;
}

.good-things {
    font-family: 'Homemade Apple', cursive;
    text-align: right;
    font-size: 30px;
    text-transform: capitalize;
    -ms-transform: rotate(340deg); /* IE 9 */
    -webkit-transform: rotate(340deg); /* Chrome, Safari, Opera */
    transform: rotate(340deg);
    position: relative;
    z-index: 400;
    margin-top: 100px;
    padding-right: 75px;
}

/*Contact*/

.contact {
    background: -webkit-linear-gradient(left, #f1cbcc , #D0D0D0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f1cbcc, #D0D0D0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f1cbcc, #D0D0D0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f1cbcc , #D0D0D0); /* Standard syntax */
}

.contact-header-text {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    position: relative;
    text-transform: uppercase;
    bottom: 50px;
}
